# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
npm_output.log

node_modules
dist
dist-ssr
*.local

# Excluir arquivos de variáveis de ambiente
.env
.env.*
!.env.example # (Opcional: pode comitar um exemplo sem as senhas reais)

# Configurações de Editor (são pessoais de cada dev)
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
.ntvs
*.njsproj
*.sln
*.sw?

# Credenciais do Google (para o seu script de Docs)
google_credentials.json
client_secret.json
token.json

# Exclusão de arquivos LM
scripts/*
supabase/.temp
supabase/seed.sql
supabase/migrations/*
md_files*